<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<body>
  <h3>user1 목록</h3>
  <a href="/user1/register">등록하기</a>
<table>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>생년월일</th>
        <th>나이</th>
        <th>주소</th>
        <th>관리</th>
    </tr>
    <tr>
        <th>1</th>
        <th>홍길동</th>
        <th>1999-09-09</th>
        <th>23</th>
        <th>부산</th>
        <th>
            <a href="/user1/modify">수정</a>
            <a href="/user1/delete">삭제</a>
        </th>
    </tr>
</table>

</body>
</html>